@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Kreon:wght@300&display=swap');

body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    
}
#content{
    max-width: 2000px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: center;
}
.nav_link {
    text-decoration: none;
    font-family: Caveat, 'Bradley Hand' sans-serif;
}
nav a:hover{
    color:white;
    background-color: black;
}
nav a {
    padding: 20px;
    color:black;
}
a:hover{
    color:rgb(122, 207, 207);
}
p{
    width:30%;
    text-align: center;
    margin: 0 auto;
    font-family: Kreon, serif;
    padding: 10px;
}
img {
    width: 30%;
    display: block;
    margin: 0 auto;
    border-radius: 10%;
}
#main_title {
    font-size: 3em;
    text-align: center;
    font-family: Caveat, 'Times New Roman';
}
header, footer{
    background-color:white;
    padding:20px;
}